/* 
#111111
#f8f3d4
#2a2a2a
#000000
#ffffff
#f1e7a8
 */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  background-color: #f1e7a8;
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 3rem;

  /* justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono); */
}

