/* 
#111111
#f8f3d4
#2a2a2a
#000000
#ffffff
#f1e7a8
 */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 75px - 24.2vw - 50px);
  background-color: #f1e7a8;

}

@media screen and (min-width: 600px) {
  .main{
    padding: 0 calc(50vw - 300px);      
  }
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 3rem 3rem 3rem;
  
}

