.details-container {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #f8f3d4;
    box-shadow: 6px 6px 4px #2a2a2a;
}

.h2 {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.h2-loading{
    margin: 0.5rem auto;
    height: 1.2rem;
    width: 5rem;
    border-radius: 5px;
    background-color:  #2a2a2a;
}

.price-rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-weight: 700;
    margin-bottom: 1rem;
}

.price{
    text-align: center;
}

.price>p:last-child {
    font-size: 0.8rem;
    font-weight: 400;
}

.item-description{
    font-size: 0.9rem;
    padding: 0 0.7rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

.buy{
    text-align: center;
    margin: 1.5rem 0;
}
.buy >button{
    line-height: 1.5rem;
    border-radius: 10px;
    border: none;
    padding: 0 1rem;
    color: #f8f3d4;
    background-color: #2a2a2a;
    box-shadow: 4px 4px 4px #111111;
    width: 40vw;
    max-width: 250px;
}

.details-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: auto;
    border: 1px solid #2a2a2a;
    background-color: #f8f3d4;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    width: fit-content;
    margin: 0.5rem auto;
    box-shadow: 6px 6px 4px #2a2a2a;    
    width: 100%;
    max-width: 360px;
}

.item-description>span{
    height: 0.6rem;
    margin-bottom: 0.5rem;
    background-color: #2a2a2a;
    border-radius: 5px;
    width: 50vw;
    display: block;
    max-width: 300px;
}

.main-img>svg{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}