.results-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

.items{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: center;
}


.item-container{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #f8f3d4;
    box-shadow: 6px 6px 4px #2a2a2a;
    max-width: 360px;
}

.item-container > a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;

}

.image-container{
    clip-path: circle(10vw at 50% 50%);
    width: fit-content;
}

@media screen and (min-width: 600px) {
    .image-container{
        clip-path: circle(4.5rem at 50% 50%);
    }    
}

.image-container >img, 
.image-container >svg{
    width: 25vw;
    height: auto;
    max-width: 150px;
    max-height: 180px;
}


.item-info{
    padding-right: 0.5rem;
}

.h3{
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.item-description{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.price{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.price >p {
    font-weight: 700;
    font-size: 0.9rem;
}

.price >span >svg{
    color: #2a2a2a;
    transform: scale(0.8);    
}

.item-list{
    position: relative;
    width: 95%;
}

.cart-trash,
.cart-buy{
    position: absolute;
    top: 40%;
    left: 98%;
    width: 30px;
    height: 30px;
    background-color: #2a2a2a;
    border-radius: 20px;    
    box-shadow: -4px 4px 4px #111111;    
    padding: 5px;
    transform: scale(1.5);
    text-align: center;
}

.cart-trash>svg{
    color: rgb(184, 80, 80);
    top: 2px;
    position: relative;
}

.cart-buy>svg{
    color: rgb(50, 200, 50);
    top: 2px;
    right: 1px;
    position: relative;
}

.item-container-loader{
    width: 100%;
  /*   height: 130px; */
    margin-bottom: 1.5rem;   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem; 
}

.item-container-loader>svg{
    position: absolute;
    left: -1rem;
}

.h3-loader{
    margin-bottom: 0.5rem;
    height: 1rem;
    width: 5rem;
    border-radius: 5px;
    background-color:  #2a2a2a;
}

.item-description-loader>span{
    height: 0.6rem;
    margin-bottom: 0.5rem;
    background-color: #2a2a2a;
    border-radius: 5px;
    width: 8rem;
    display: block;
}

.price-loading{
    margin-top: 2rem;
}