.search-bar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.form-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /* width: 100%; */
    gap: 1rem;
    margin: 1rem 0;
}

.input{
    border-radius: 10px;
    border: none;
    line-height: 1.5rem;
    padding-left: 1rem;
    box-shadow: 4px 4px 4px #111111;
    font-family: inherit;
}

.button{
    line-height: 1.5rem;
    border-radius: 10px;
    border: none;
    padding: 0 1rem;
    color: #f8f3d4;
    background-color: #2a2a2a;
    box-shadow: 4px 4px 4px #111111;
    font-family: inherit;
    width: 20vw;
    max-width: 130px;
}